@tailwind components;

@layer components {
  .card {
    --img-w: 300px;
    --img-h: calc(var(--img-w) * 1.5);
    @apply flex flex-col my-8 max-w-[var(--img-w)] md:mt-6;

    img {
      @apply rounded-t-xl object-cover max-h-[var(--img-h)] phone-l:max-h-[600px];
      width: auto;
      aspect-ratio: 2/3;
    }
  }

  .card__content {
    @apply flex flex-col h-full gap-2 p-6 pt-3 rounded-b-xl shadow-lg dark:shadow-none bg-neutral-50 dark:bg-teal-800;
  }

  .card__title {
    @apply text-2xl mt-2 font-bold text-teal-700/90 dark:text-neutral-200 text-ellipsis whitespace-nowrap overflow-hidden;
  }

  .card__date {
    @apply text-lg italic mt-2 font-semibold text-teal-800/70 dark:text-neutral-300;
  }

  .card__btn {
    @apply dark:bg-slate-200 mt-2 mb-1 flex gap-2 dark:text-teal-800 font-semibold text-base bg-teal-600 lg:hover:bg-teal-500;
  }
}
